.git
.github
.gitignore
.gitattributes
.editorconfig

node_modules
vendor

.env
.env.*
!.env.example

tests

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

bootstrap/cache/*
!bootstrap/cache/.gitignore

*.md
phpstan.neon
phpunit.xml
vite.config.js
package.json
package-lock.json
